.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}

.my-custom-classAlert {
  --background: #e5e5e5;
}

.map {
  height: 100%;
}

ion-button{
  --background: #6B9727;
  --border-radius: 20px;
}
