.new-background-color{
    --background: #6B9727;
}

.icon-arrow {
  padding-left: 5px;
  height: 30px;
  width: 30px;
  color: white;
}

.custom-ion-title {
  color: white;
}

.new-background-color{
    --background: #6B9727;
}

ion-icon {
color: #FFF150;
}

ion-button{
  --background: #6B9727;
  --border-radius: 20px;
}


.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}

.my-custom-classAlert {
  --background: #e5e5e5;
}
