ion-icon {
color: #FFF150;
}
p {
    color: #9B9B9B;
    font-size: larger;
}

.new-background-color{
    --background: #6B9727;
}

.custom-ion-title {
  color: white;
}

ion-button{
  --background: #6B9727;
  --border-radius: 20px;
}